:root {

    --background:#FAFAFA;  /* overall background color */

  --color-primary: #00494a;  /*form and button | futara text | see all collection | tab (Active) | why us icon*/
  --color-primary-light-1: #005f61; /*inside form*/
  --color-primary-light-2: #02494B; /*futura */
  --color-primary-light-: #283E2E; /* footer */  

  --text-primary: #303635; /* heading | landing image heading |tab content heading | why us | why us heading | scroll */
  --text-secondary:#5F6060;  /* landing - subheading*/

  --color-marquee: #6D7373; /*marquee text*/

  --color--tab-text: #414141; /* tab (inactive)*/
  --color-tab-subheading: #888888;
 --color-tab-border: #CFCFCF;

 --color-white-1: #FFFFFF;  /*fatura-> heading | read more btn | slider text*/ 
 --color-white-2: #F7F8F7;   /*fatura-> paragraph | counter bg | contact us*/
--color-white-3: #F4F5F5;  /* contact-> send | contact heading */ 

--text-gray-1: #495050 ; /*why us paragraph | footer nav | copyright: cookie polic , private policy*/
--text-gray-2: #D8D8D8 ; /* contact paragraph*/
--text-gray-3: #C3C5C6 ; /* contact form */

--text-footer: #5A5E5E ; /* footer text | copy right*/
--border-footer: #9C9E9E ; /* footer border */

}

/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

/* Font Face Declarations */
@font-face {
  font-family: "Roslindale";
  src: url("https://fonts.googleapis.com/css2?family=Roslindale:wght@400;500;700&display=swap");
  font-weight: 400 700;
  font-style: normal;
}

/* css reset */

*{
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Roslindale", serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-primary);
    /* background-color:var(--background) ; */
    /* background-color: #00494a; */
}
li{
    list-style: none;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}