:root {
  --background: #fafafa; /* overall background color */

  --color-primary: #00494a; /*form and button | futara text | see all collection | tab (Active) | why us icon*/
  --color-primary-light-1: #005f61; /*inside form*/
  --color-primary-light-2: #02494b; /*futura */
  --color-primary-light-: #283e2e; /* footer */

  --text-primary: #303635; /* heading | landing image heading |tab content heading | why us | why us heading | scroll */
  --text-secondary: #5f6060; /* landing - subheading*/

  --color-marquee: #6d7373; /*marquee text*/

  --color--tab-text: #414141; /* tab (inactive)*/
  --color-tab-subheading: #888888;
  --color-tab-border: #cfcfcf;

  --color-white-1: #ffffff; /*fatura-> heading | read more btn | slider text*/
  --color-white-2: #f7f8f7; /*fatura-> paragraph | counter bg | contact us*/
  --color-white-3: #f4f5f5; /* contact-> send | contact heading */

  --text-gray-1: #495050; /*why us paragraph | footer nav | copyright: cookie polic , private policy*/
  --text-gray-2: #d8d8d8; /* contact paragraph*/
  --text-gray-3: #c3c5c6; /* contact form */

  --text-footer: #5a5e5e; /* footer text | copy right*/
  --border-footer: #9c9e9e; /* footer border */
  --color-card: #d9d9d9; /*landing product card*/
}

/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

/* Font Face Declarations */
@font-face {
  font-family: "Roslindale";
  src: url("https://fonts.googleapis.com/css2?family=Roslindale:wght@400;500;700&display=swap");
  font-weight: 400 700;
  font-style: normal;
}

/* css reset */

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roslindale", serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-primary);
  background-color: var(--background);
}
li {
  list-style: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
