.container {
  width: 100%;
  max-width: 144rem;
  padding: 0 7rem;
  margin: 0 auto;
}

@media (max-width: 976px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 2rem;
    margin: 0;
  }
}

.header {
  height: 4rem;
  margin-top: 2.4rem;
  padding: 0 1.4rem;
}
.hero {
  /* border: 1px solid; */
  background: url("/assets/images/vector-landing.svg") no-repeat top;
}

.marquee {
  width: 100%;
  overflow: hidden; /* Hide the overflow of the track */
  display: flex;
  border-bottom: 1px solid var(--color-marquee);
  padding: 2.4rem 0;
  /* background-color: red; */
}

/* slider */
.category {
  position: relative;
  margin: 10rem 0;
  background-color: #fff;
}
/* futura */
.futura {
  /* max-width: 144rem; */
  margin-top: 20.3rem;
  background-color: #02494b;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  position: relative;
}
