.container {
  width: 100%;
  max-width: 144rem;
  padding: 0 7rem;
  margin: 0 auto;
}

.header {
  height: 4rem;
  margin-top: 2.4rem;
  padding: 0 1.4rem;
}
.hero {
  background: url("/assets/images/vector-landing.svg") no-repeat center 90px;
  width: 100%;
}
.marquee {
  width: 100%;
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid var(--color-marquee);
  padding: 2.4rem 0;
}

/* slider */
.category {
  position: relative;
  margin: 10rem 0;
  background-color: #fff;
}
/* futura */
.futura {
  width: 100%;
  margin-top: 20.3rem;
  background-color: #02494b;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
.why-us {
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.8rem;
  background: var(--background);
}

.footer {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  background: var(--background);
  padding: 0 7rem;
}
