.container {
  max-width: 144rem;
  padding: 0 7rem;
  margin: 0 auto;
}
.header {
  height: 4rem;
  margin-top: 2.4rem;
  padding: 0 1.4rem;
}
.hero {
  /* border: 1px solid; */
  background: url("/assets/images/vector-landing.svg") no-repeat top;
}

.marquee {
  width: 100%;
  overflow: hidden; /* Hide the overflow of the track */

  border-bottom: 1px solid var(--color-marquee);
  padding: 2.4rem 0;
  /* background-color: red; */
}

/* slider */
.category {
  position: relative;
  margin: 10rem 0;
  background-color: #fff;
}
/* futura */
.futura {
  background-color: var(--color-primary-light-2);
}

.footer {
}
